/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i');

/*general*/

body{
	height:100%;
	width:100%;
	font-family: sans-serif;
	position:relative;
}

.container {
	width:100vw;
	height:100vh;
	display:table;
}

.left {
	float:left;
}

.right {
	float:right;
}

a {
	text-decoration: none;
	color:white;
	font-weight:900;
}

a:hover {
	text-decoration: underline;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.logo {
	width:14vw;
	height:14vw;
	background-image:url('images/logo.jpg');
	background-size:cover;
	background-repeat:no-repeat;
}

/*nav*/

ul {
	height:35px;
}

li {
	font-size:20px;
	margin:7.5px;
	width:80px;
	display:inline-block;
}

/*main*/

.hero {
	display:table-cell;
	vertical-align: middle;
	width:80vw;
	padding-left:30vw;
	padding-right:20vw;
}

h1 {
	font-size:7vw;
	font-family: 'Titillium Web', sans-serif;
	font-weight:200;
	width:30vw;
}

h2 {
	font-size:5vw;
}
/*about*/

.about {
	margin-left:20%;
	width:60vw;
	height:100%;
	font-size:3vw;
}

.about p {
	margin-top:30vh;
	display:inline;
	width:40vw;
	margin-bottom:30vh;
}

/*contact*/

div.contact {
	padding-top:30%;
}

/*footer*/

footer {
	position:absolute;
	bottom:48px;
	width:100%;
}